<nb-card>
    <nb-card-header>
     Events
	 <button class="btn btn-primary" routerLink="/pages/addevent">Create Event</button>
	 
     <select  class="form-control input-sm" name="organisation" (change)="navigateTo($event.target.value)">
        <option value="" disabled="" selected="">Select organization</option>
        <option *ngFor="let arr of arrorg.organization" value="{{arr.id}}">{{arr.title}}</option>
     </select>

    
    </nb-card-header>
    
    <nb-card-body>
       
<ng2-smart-table class="example-smart-table"
[settings]="settings"
[source]="this.arrevents.events"
(createConfirm)="addEvent($event)"
    (deleteConfirm)="deleteEvent($event)"
    (editConfirm)="updateEvent($event)">
</ng2-smart-table>
    </nb-card-body>
</nb-card>