<h1>New Speaker</h1>

<div class="clr-row">
  <div class="clr-col-lg-9 clr-col-md-12 clr-col-sm-12">
    <form  [formGroup]="speakersForm" (ngSubmit)="addspeakers()">
   
	<div class="form-group">
      <label for="first_name">First Name:</label>
      <input type="text" class="form-control" required nbInput
      fullWidth
      fieldSize="large"
      id="first_name"
      formControlName="first_name">
    </div>
	<div class="form-group">
      <label for="last_name">Last Name:</label>
      <input type="text" class="form-control" required nbInput
      fullWidth
      fieldSize="large"
      id="last_name"
      formControlName="last_name">
    </div>
	<div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" required nbInput
      fullWidth
      fieldSize="large"
      id="email"
      formControlName="email">
    </div>
	<div class="form-group">
      <label for="title">Title:</label>
      <input type="text" class="form-control" required nbInput
      fullWidth
      fieldSize="large"
      id="title"
      formControlName="title">
    </div>
	<div class="form-group">
      <label for="profile_image">Profile Image:</label>
      <input type="file" class="form-control" 
      id="profile_image" (change)="imageupload($event)">
    </div>
	<div class="form-group">
      <label for="company">Company:</label>
      <input type="text" class="form-control" required nbInput
      fullWidth
      fieldSize="large"
      id="company"
      formControlName="company">
    </div>
	<div class="form-group">
      <label for="biography">Biography:</label>
      <input type="text" class="form-control" required nbInput
      fullWidth
      fieldSize="large"
      id="biography"
      formControlName="biography">
    </div>
	<div class="form-group">
      <label for="linkdin">Linkdin:</label>
      <input type="text" class="form-control" required nbInput
      fullWidth
      fieldSize="large"
      id="linkdin"
      formControlName="linkdin">
    </div>
	<div class="form-group">
      <label for="">Twitter:</label>
      <input type="text" class="form-control" required nbInput
      fullWidth
      fieldSize="lartwitterge"
      id="twitter"
      formControlName="twitter">
    </div>
	<div class="form-group">
      <label for="facebook">Facebook:</label>
      <input type="text" class="form-control" required nbInput
      fullWidth
      fieldSize="large"
      id="facebook"
      formControlName="facebook">
    </div>
	
    <button type="submit" class="btn btn-primary">Add</button>
  </form> 
  </div>
  </div>
