<h1>New Network</h1>

<div class="clr-row">
  <div class="clr-col-lg-9 clr-col-md-12 clr-col-sm-12">
    <form  [formGroup]="networkForm" (ngSubmit)="addnetwork()">
   
	<div class="form-group">
      <label for="max_meeting_duration">Maximum Meeting Duration:</label>
      <input type="number" class="form-control" required nbInput
      fullWidth
      fieldSize="large"
      id="max_meeting_duration"
      formControlName="max_meeting_duration">
    </div>
	<div class="form-group">
      <label for="min_meeting_duration">Minimum Meeting Duration:</label>
      <input type="number" class="form-control" required nbInput
      fullWidth
      fieldSize="large"
      id="min_meeting_duration"
      formControlName="min_meeting_duration">
    </div>
	
    <button type="submit" class="btn btn-primary">Add</button>
  </form> 
  </div>
  </div>
