<nb-card>
   
    <nb-card-header>
      Tickets
      <button type="button" class="btn btn-primary" routerLink="/pages/addexhibitors">Add Exhibitor</button>
    </nb-card-header>
  
    <nb-card-body>
      <ng2-smart-table class="example-smart-table"
      [settings]="settings"
      [source]="this.arrexpo.Exhibitors"
      (deleteConfirm)="deletexpo($event)"
      >
      </ng2-smart-table>
    </nb-card-body>
  </nb-card>