<h2>All Sponsors</h2>

<table>
  <tr>
    <th>Actions</th> 
    <th>Sponsor Name</th>
    <th>Sponsor Link</th>
    <th>Order</th>
    <th>Sponsor Logo</th>
    <th>Delete Status</th>
  </tr>
  <tr *ngFor='let arr of arrsponsors.Sponsors'>
      <td>
        <a href="pages/addsponsors"><i class="fa fa-plus" aria-hidden="true"></i></a>
        <a href="pages/updatesponsors/{{arr.id}}"> <i class="nb-edit"></i></a>
        <i class="fa fa-trash" aria-hidden="true" (click)="deletesponsor(arr.id)"></i>
    </td>
    <td>{{arr.sponsor_name}}</td>
    <td>{{arr.sponsor_link}}</td>
    <td>{{arr.choose_order}}</td>
    <td><img class='table-thumbnail-img' width="50px" height="50px" src="http://13.244.115.67/server/public/images/{{arr.sponsor_logo}}"></td>
    <td>{{arr.deleted_at}}</td>
  </tr>
</table>
