<h1>New Representative</h1>

<div class="clr-row">
  <div class="clr-col-lg-9 clr-col-md-12 clr-col-sm-12">
    <form  [formGroup]="representativeForm" (ngSubmit)="addrepresentative()">
   
    <div class="form-group"> 
      <label for="name">Representative Name:</label>
      <input nbInput
      fullWidth
      fieldSize="large"
      id="name"
      formControlName="name"
       class="form-control" required >
    </div>
	 <div class="form-group">
      <label for="email">Representative E-mail:</label>
      <input type="email" class="form-control" required nbInput
      fullWidth
      fieldSize="large"
      id="email"
      formControlName="email">
    </div>
    <div class="form-group">
      <label for="phone_number">Representative Phone:</label>
      <input type="text" class="form-control" required nbInput
      fullWidth
      fieldSize="large"
      id="phone_number"
      formControlName="phone_number">
    </div>
	<div class="form-group">
	 <label for="exibit_id">Representative Exibitor:</label>
	  <input type="text" class="form-control" required nbInput
      fullWidth
      fieldSize="large"
      id="exibit_id"
      formControlName="exibit_id">
    </div>
     
    <button type="submit" class="btn btn-primary">Add</button>
  </form> 
  </div>
  </div>
