<h1>New Landing Page</h1>

<div class="clr-row">
  <div class="clr-col-lg-9 clr-col-md-12 clr-col-sm-12">
    <form  [formGroup]="landingForm" (ngSubmit)="updatelandingpage()" >
   
    <div class="form-group">
      <label for="description">Description:</label>
	  <textarea class="form-control" required
     rows="10" cols="30" >{{landing.description}}</textarea>
    </div>
	<div class="form-group">
      <label for="event_image">Event Image:</label>
      <input type="file" class="form-control" required nbInput
      fullWidth
      fieldSize="large"
      id="event_image"
      formControlName="event_image" (change)="imageupload($event)">
    </div>
	
    <button type="submit" class="btn btn-primary">Update</button>
  </form> 
  </div>
  </div>
