<nb-card>
   
    <nb-card-header>
     Stage
      <button type="button" class="btn btn-primary" routerLink="/pages/addstage">Add Stage</button>
    </nb-card-header>
  
    <nb-card-body>
      <ng2-smart-table class="example-smart-table"
      [settings]="settings"
      [source]="this.arrstages.stages"
      (editConfirm)="updatestage($event)"
      (deleteConfirm)="deletestage($event)"
      >
      </ng2-smart-table> 
    </nb-card-body>
  </nb-card>