@import '../../@theme/styles/themes';

@include nb-install-component() {
  nb-card {
    transform: translate3d(0, 0, 0);
  }

  ::ng-deep .example-smart-table {
    .form-control {
      color: nb-theme(form-control-color);
    }
  }
}