<h2>All Networks</h2>

<table>
  <tr>
    <th>Actions</th> 
    <th>Max Meeting Duration</th>
    <th>Min Meeting Duration</th>
    <th>Delete Status</th>
  </tr>
  <tr *ngFor='let arr of arrnetwork.Networks'>
      <td>
        <a href="pages/addnetwork"> <i class="fa fa-plus" aria-hidden="true"></i></a>
        <a href="pages/updatenetwork/{{arr.id}}"> <i class="nb-edit"></i></a>
        <i class="fa fa-trash" aria-hidden="true" (click)="deletenetwork(arr.id)"></i>
    </td>
    <td>{{arr.max_meeting_duration}}</td>
    <td>{{arr.min_meeting_duration}}</td>
    <td>{{arr.deleted_at}}</td>
  </tr>
</table>
