<h1>New Session</h1>

<div class="clr-row">
  <div class="clr-col-lg-9 clr-col-md-12 clr-col-sm-12">
    <form  [formGroup]="sessionForm" (ngSubmit)="addsession()">
   
	<div class="form-group"> 
      <label for="title">Title:</label>
      <input nbInput
      fullWidth
      fieldSize="large"
      id="title"
      formControlName="title"
       class="form-control" >
    </div>
	
	<div class="form-group"> 
      <label for="start_date">Start Date:</label>
      <input type="date" nbInput
      fullWidth
      fieldSize="large"
      id="start_date"
      formControlName="start_date"
       class="form-control" required >
    </div>
	<div class="form-group"> 
      <label for="end_date">End Date:</label>
      <input type="date" nbInput
      fullWidth
      fieldSize="large"
      id="end_date"
      formControlName="end_date"
       class="form-control" required >
    </div>
	
	<div class="form-group"> 
      <label for="photo">Image:</label>
      <input type="file" nbInput
      fullWidth
      fieldSize="large"
      id="photo"
      formControlName="photo"
       class="form-control" required >
    </div>
	 <label for="notes">Description:</label>
	 <textarea class="form-control" required nbInput
      fullWidth
      fieldSize="large"
      id="notes"
      formControlName="notes" rows="10" cols="30"></textarea>
    <button type="submit" class="btn btn-primary">Add</button>
  </form> 
  </div>
  </div>
