<div class="clr-row">
    <div class="clr-col-lg-9 clr-col-md-12 clr-col-sm-12">
  <form (ngSubmit)="updatenetwork()">
      <div class="form-group"> 
        <label for="max_meeting_duration">Maximum Meeting Duration:</label>
        <input type="number" class="form-control" required name="max_meeting_duration" value="{{network.max_meeting_duration}}">
      </div>
      <div class="form-group">
        <label for="min_meeting_duration">Minimum Meeting Duration:</label>
        <input type="number" class="form-control" required name="min_meeting_duration" [(ngModel)]="network.min_meeting_duration">
      </div>
      
      <button type="submit" class="btn btn-primary">Update</button>
    </form>
    </div>
    </div>