<nb-card>
   
    <nb-card-header>
      Tickets
      <button type="button" class="btn btn-primary" routerLink="/pages/addticket">Add Ticket</button>
    </nb-card-header>
  
    <nb-card-body>
      <ng2-smart-table class="example-smart-table"
      [settings]="settings"
      [source]="this.arrtickets.tickets"
      (editConfirm)="updateticket($event)"
      (deleteConfirm)="deleteTicket($event)"
      >
      </ng2-smart-table>
    </nb-card-body>
  </nb-card>