<h1>New Exhibitor</h1>

<div class="clr-row">
  <div class="clr-col-lg-9 clr-col-md-12 clr-col-sm-12">
    <form  [formGroup]="expoForm" (ngSubmit)="addexpo()">
   
    <div class="form-group"> 
      <label for="exibit_name">Exhibitor Name:</label>
      <input nbInput
      fullWidth
      fieldSize="large"
      id="exibit_name"
      formControlName="exibit_name"
       class="form-control" required >
    </div>
	 <div class="form-group">
      <label for="email">E-mail:</label>
      <input type="email" class="form-control" required nbInput
      fullWidth
      fieldSize="large"
      id="email"
      formControlName="email">
    </div>
    <div class="form-group">
      <label for="title">Title:</label>
      <input type="text" class="form-control" required nbInput
      fullWidth
      fieldSize="large"
      id="title"
      formControlName="title">
    </div>
	<div class="form-group">
	 <label for="description">Description:</label>
	  <textarea class="form-control" required nbInput
      fullWidth
      fieldSize="large"
      id="description"
      formControlName="description" rows="10" cols="30"></textarea>
    </div>
     <div class="form-group">
      <label for="stream_provider">Stream Provider:</label>
      <input type="text" class="form-control" required nbInput
      fullWidth
      fieldSize="large"
      id="stream_provider"
      formControlName="stream_provider">
    </div>
   
  <div class="form-group">
      <label for="booth_size">Booth Size:</label>
      <input type="text" class="form-control" required nbInput
      fullWidth
      fieldSize="large"
      id="booth_size"
      formControlName="booth_size">
    </div>
	<div class="form-group">
      <label for="expo_banner">Expo Banner:</label>
      <input type="file" class="form-control" required nbInput
      fullWidth
      fieldSize="large"
      id="expo_banner"
      formControlName="expo_banner">
    </div>
	<div class="form-group">
      <label for="expo_logo">Expo Logo:</label>
      <input type="file" class="form-control" required nbInput
      fullWidth
      fieldSize="large"
      id="expo_logo"
      formControlName="expo_logo">
    </div>
	<div class="form-group">
      <label for="promo_video_url">Promo Video URL:</label>
      <input type="text" class="form-control" required nbInput
      fullWidth
      fieldSize="large"
      id="promo_video_url"
      formControlName="promo_video_url">
    </div>
	<div class="form-group">
      <label for="linkdin">Linkdin:</label>
      <input type="text" class="form-control" required nbInput
      fullWidth
      fieldSize="large"
      id="linkdin" 
      formControlName="linkdin">
    </div>
	<div class="form-group">
      <label for="twitter">Twitter:</label>
      <input type="text" class="form-control" required nbInput
      fullWidth
      fieldSize="large"
      id="twitter"
      formControlName="twitter">
    </div>
	<div class="form-group">
      <label for="facebook">Facebook:</label>
      <input type="text" class="form-control" required nbInput
      fullWidth
      fieldSize="large"
      id="facebook"
      formControlName="facebook">
    </div>
	<div class="form-group">
      <label for="clientid">Exhibition Representatives:</label>
     <button type="button" class="btn btn-primary" routerLink="/pages/addrepresentatives">Add a Representatives</button>
    </div>
    <button type="submit" class="btn btn-primary">Add this Exhibitor</button>
  </form> 
  </div> 
  </div>
