<nb-card>
   
    <nb-card-header>
      Sessions
      <button type="button" class="btn btn-primary" routerLink="/pages/addsession">Add Session</button>
    </nb-card-header>
  
    <nb-card-body>
      <ng2-smart-table class="example-smart-table"
      [settings]="settings"
      [source]="this.arrsessions.sessions"
      (editConfirm)="updatesession($event)"
      (deleteConfirm)="deletesession($event)"
      >
      </ng2-smart-table> 
    </nb-card-body>
  </nb-card>