<h2>All Speakers</h2>

<table>
  <tr>
    <th>Actions</th> 
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Title</th>
    <th>Profile</th>
    <th>Delete Status</th>
  </tr>
  <tr *ngFor='let arr of arrspeakers.Speakers'>
      <td>
        <a href="pages/addspeakers"> <i class="fa fa-plus" aria-hidden="true"></i></a>
        <a href="pages/updatespeakers/{{arr.id}}"> <i class="nb-edit"></i></a>
        <i class="fa fa-trash" aria-hidden="true" (click)="deletespeaker(arr.id)"></i>
    </td>
    <td>{{arr.first_name}}</td>
    <td>{{arr.last_name}}</td>
    <td>{{arr.email}}</td>
    <td>{{arr.title}}</td>
    <td><img class='table-thumbnail-img' width="50px" height="50px" src="http://13.244.115.67/server/public/images/{{arr.profile_image}}"></td>
    <td>{{arr.deleted_at}}</td>
  </tr>
</table>
