<h1>New Event</h1>

<div class="clr-row">
    <div class="clr-col-lg-9 clr-col-md-12 clr-col-sm-12">
  <form [formGroup]="eventForm"  (ngSubmit)="addevent()">
      <div class="form-group"> 
        <label for="title">Event Name:</label>
        <input type="text" class="form-control" required name="title" formControlName="title">
      </div>
      <div class="form-group">
        <label for="start_date">Start Date:</label>
        <input type="date" class="form-control" required name="start_date" formControlName="start_date">
      </div>
	  <div class="form-group">
        <label for="end_date">End Date:</label>
        <input type="date" class="form-control" required name="end_date" formControlName="end_date">
      </div>
       <div class="form-group">
        <label for="email_id">Email:</label>
        <input type="email_id" class="form-control" required name="email_id" formControlName="email_id">
      </div>
      
	  <div class="form-group">
        <label for="photo">Photo:</label>
        <input type="file" class="form-control" required name="photo" (change)="imageupload($event)">
      </div>
	  <div class="form-group">
        <label>What would you like the event to have?</label>
		 <input type="checkbox" name="stage" value="1" id="stage" formControlName="stage" (change)="stageStatus($event)">
		<label for="stage">Stage </label>
		 <input type="checkbox" name="sessions" value="1" id="sessions" formControlName="sessions" (change)="sessionStatus($event)">
		<label for="sessions">Sessions</label>
		<input type="checkbox" name="networking" value="1" id="networking" formControlName="networking" (change)="networkingStatus($event)">
		<label for="networking">Networking</label>
		  <input type="checkbox" name="expo" value="1" id="expo" formControlName="expo" (change)="expoStatus($event)">
		<label for="expo">Expo</label>
        
      </div> 
	  
      <button type="submit" class="btn btn-primary">Add Event</button>
    </form>
    </div>
    </div>