<h1>New Organization</h1>

<div class="clr-row">
  <div class="clr-col-lg-9 clr-col-md-12 clr-col-sm-12">
    <form  [formGroup]="orgForm" (ngSubmit)="addorg()">
   
    <div class="form-group"> 
      <label for="title">Organization Name:</label>
      <input nbInput
      fullWidth
      fieldSize="large"
      id="title"
      formControlName="title"
       class="form-control" required >
    </div>
    <div class="form-group">
      <label for="contact_person">Contact Person:</label>
      <input type="text" class="form-control" required nbInput
      fullWidth
      fieldSize="large"
      id="contact_person"
      formControlName="contact_person">
    </div>
     <div class="form-group">
      <label for="contact_number">Contact Number:</label>
      <input type="text" class="form-control" required nbInput
      fullWidth
      fieldSize="large"
      id="contact_number"
      formControlName="contact_number">
    </div>
    <div class="form-group">
      <label for="email_id">Contact Email:</label>
      <input type="email" class="form-control" required nbInput
      fullWidth
      fieldSize="large"
      id="email_id"
      formControlName="email_id">
    </div>
    <div class="form-group">
        <label for="photo">Photo:</label>
        <input type="file" class="form-control" required name="photo" (change)="imageupload($event)">
    </div>
	 <div class="form-group">
      <label for="notes">Description:</label>
	  <textarea class="form-control" required nbInput
      fullWidth
      fieldSize="large"
      id="notes"
      formControlName="notes" rows="10" cols="30"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
  </form> 
  </div>
  </div>
