<!--
  ~ Copyright (c) Akveo 2019. All Rights Reserved.
  ~ Licensed under the Single Application / Multi Application License.
  ~ See LICENSE_SINGLE_APP / LICENSE_MULTI_APP in the 'docs' folder for license information on type of purchased license.
  -->

 

    <nb-card>
      <nb-card-header>
       Organizations
       <button class="btn btn-primary" routerLink="/pages/addorganization">New Organization</button>
      <!---- <nb-alert *ngIf="CreatedOrg" outline="success" role="alert">
        <ul class="alert-message-list">
          <li class="alert-message">Organization Added Successfully !</li>
        </ul>
      </nb-alert>-->
      </nb-card-header>
      
      <nb-card-body>
    <ng2-smart-table class="example-smart-table"
    [settings]="settings"
    [source]="this.arrorg.organization"
    (createConfirm)="addRecord($event)"
    (deleteConfirm)="deleteRecord($event)"
    (editConfirm)="updateRecord($event)">
</ng2-smart-table>
</nb-card-body>
</nb-card>
        