<h1>New Ticket</h1>

<div class="clr-row">
  <div class="clr-col-lg-9 clr-col-md-12 clr-col-sm-12">
    <form  [formGroup]="ticketForm" (ngSubmit)="addticket()">
   
    <div class="form-group"> 
      <label for="ticket_name">Ticket Name:</label>
      <input nbInput
      fullWidth
      fieldSize="large"
      id="ticket_name"
      formControlName="ticket_name"
       class="form-control" required >
    </div>
    <div class="form-group">
      <label for="ticket_type">Ticket Type:</label>
      <nb-select selected="free" id="ticket_type"
      formControlName="ticket_type" fieldSize="large" >
        <nb-option value="free">Free</nb-option>
        <nb-option value="paid">Paid</nb-option>
      </nb-select>
    </div>
     <div class="form-group">
      <label for="ticket_price">Price:</label>
      <input type="number" class="form-control" required nbInput
      fullWidth
      fieldSize="large"
      id="ticket_price"
      formControlName="ticket_price">
    </div>
    <div class="form-group">
      <label for="description">Description:</label>
	  <textarea class="form-control" required nbInput
      fullWidth
      fieldSize="large"
      id="description"
      formControlName="description" rows="10" cols="30"></textarea>
    </div>
  <div class="form-group">
      <label for="ticket_count">Number of Tickets:</label>
      <input type="number" class="form-control" required nbInput
      fullWidth
      fieldSize="large"
      id="ticket_count"
      formControlName="ticket_count">
    </div>
	<div class="form-group">
      <label for="hide_ticket">Hide the Ticket:</label>
      <input type="checkbox" fullWidth
      fieldSize="large"
      id="hide_ticket"
      formControlName="hide_ticket">
    
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
  </form> 
  </div>
  </div>
