<nb-card>
   
    <nb-card-header>
      Reception Data
      <button type="button" class="btn btn-primary" routerLink="/pages/addreception">Add Reception</button>
    </nb-card-header>
  
    <nb-card-body>
      <ng2-smart-table class="example-smart-table"
      [settings]="settings"
      [source]="this.arreception.receptions"
      (editConfirm)="updatereception($event)"
      (deleteConfirm)="deletereception($event)"
      >
      </ng2-smart-table>
    </nb-card-body>
  </nb-card>